<form [formGroup]='forma' >
  <mat-form-field >
    <mat-label>Titulo del marcador</mat-label>
    <input matInput placeholder="Titulo" formControlName='titulo' >
  </mat-form-field>

  <mat-form-field >
    <mat-label>Descripcion del marcador</mat-label>
    <textarea rows="3" matInput placeholder="Descripcion"  formControlName='descripcion'></textarea>
  </mat-form-field>
  <button mat-raised-button color='primary' (click)="guardarCambios()">Editar</button>
  <button class="borrar" (click)="onNoClick()"  mat-raised-button color='warn'  >Cancelar</button>
</form>